<!doctype html>
<html lang="en">

<!--头部开始-->
<include file="Public/Admin/header.html" />
<!--头部结束-->

<body>
    <!-- 顶部开始 -->
    <include file="Public/Admin/top.html" />
    <!-- 顶部结束 -->

    <!-- 中部开始 -->
    <!--左侧菜单开始-->
    <include file="Public/Admin/left-menu.html" />
    <!--左侧菜单结束-->

    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='{$welcome_url}' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->

    <include file="Public/Admin/footer.html" />

</body>
</html>