.login-body {
	background: url(../images/card-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.xy-login {
	width: 80%;
	margin: 0 auto;
	transform: translateY(50%);
}
.card-title {
	position: relative;
	top: 130px;
}

.xy-table th {
	text-align: center;
}
.xy-table tr {
	font-weight: bold;
}
.xy-table {
	padding: 5px 35px;
	border-radius: 5px;
	position: relative;
	top: 50px;
}

.xy-table, .xy-page__div {
	width: 80%;
	margin: 0 auto;
}
.xy-page__div {
	margin-top: 70px;
	margin-bottom: 30px;
}
.xy-background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 5px;
}
.xy-flag {
	position: absolute;
	bottom: 5%;
	right: 27%;
	width: 15%;
	min-height: 15%;
	z-index: 1;
}
.table-footer {
	margin-top: -15px;
}
.table-footer>div {
	margin-top: 20px;
	padding-bottom: 10px;
}
.table-footer>div p {
}

.xy-table th, .xy-table td {
	border-color: #333 !important;
}

.pager {
	text-align: left;
}

.xy-float-right {
	float: right;
}
.xy-logo {
	width: 30px;
	height: 30px;
	vertical-align: bottom;
}
.table-header {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.table-header>span:nth-child(2) {
	margin: 0 40px;
}
.pager li>a {
	background: #337AB7 !important;
	color: white;
}
.pager li>a:hover {
	background: #286090 !important;
}
.xy-page__sum {
	border: 0 !important;
	color: #286090 !important;
	margin-left: 10px;
}


/* 生成的参赛卡 */
.card_title {
	border-bottom: 1px solid #ddd;
	padding: 15px 0 10px 0;
	background: #337AB7;
	margin: 0 0 10px;
	color: white;
	font-weight: bold;
}
.xy-icon__save {
	margin-right: 20px;
	color: white;
	cursor: pointer;
}
#img_container {
	padding-bottom: 20px;
}
#img_container canvas {
	display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* 生成的参赛卡结束 */

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
	.xy-login {
		width: 400px;
	}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
}

