<!doctype html>
<html lang="en">

<include file="Public/Admin/header.html" />
<js href="__PUBLIC__/js/bootstrap.min.js" />
<css href="__PUBLIC__/Admin/css/style.css" />

<body class="login-bg">

    <div class="login">
        <div class="message">咸鱼科技-管理登录</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" action="{:U('/Admin/Index', '', '')}">
            <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input type="text" style="width: 50%" placeholder="验证码" name="code" id="code">
            <img src="{:U('Login/verify', '', '')}" class="xy-verify pull-left">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit" disabled>
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            /*layui.use('form', function(){
              var form = layui.form;
              // layer.msg('玩命卖萌中', function(){
              //   //关闭后的操作
              //   });
              //监听提交
              form.on('submit(login)', function(data){
                // alert(888)
                layer.msg(JSON.stringify(data.field),function(){
                    location.href='admin.php/Admin/index'
                });
                return false;
              });
            });*/

            // 点击刷新验证码
            $(".xy-verify").click(function () {
            	updataVerify();
            });

            // 验证码异步验证
            $("#code").focusout(() => {
            	$.ajax({
            		url: "{:U('Login/check_verify')}",
            		data: "code=" + code.value,
            		type: "POST",
            		success: function(data) {
            			if (data !== true) {
            				layer.tips("验证码错误", $("#code"), {
            					tips: [1, '#C9302C'],
            					time: 1000
            				});

            				$("[type=submit]").attr("disabled", "disabled");
            				updataVerify();

            			} else {
            				layer.tips("验证码正确", $("#code"), {
            					tips: [1, '#449D44'],
            					time: 1000
            				});
            				$("[type=submit]").removeAttr("disabled");
            			}
            		}
            	});
            });

            // 验证码获取焦点时
            $("#code").focusin(() => {
            	$("[type=submit]").removeAttr("disabled");
            });
        })

        /**
         * 刷新验证码
         */
        function updataVerify() {
        	$(".xy-verify").attr('src', $(".xy-verify").attr('src') + "?" + Math.random());
        }
    </script>
    <!-- 底部结束 -->
</body>
</html>